* {
    font-family: cursive;
}

a {
    text-decoration: none;
    color: rgb(150, 199, 254);
}

html{
    height: 100vh;
}
body{
    margin: auto;
}
div.box {

    display: flex;
    margin: auto;
    margin-top: 120px;
    background-color: rgb(245, 245, 245);
    width: 1000px;
    height: 100%;
    padding-block: 50px;
    border-radius: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.left,
.right {
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    margin: 10px;
    box-shadow: 4px 4px 5px grey;
    transition: all 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    flex-basis: 40%;
    margin-inline: 15px;

}

.buttonHolder {
    width: 100%;
    padding: 20px;
    /* background:white; */
    text-align: center;
    margin-top: 20px;
    margin-inline: 20px;
    border-radius: 5px;
    /* box-shadow: 4px 4px 8px rgb(201, 198, 198); */
    display: flex;
    flex-direction: column;
    align-items: center;

}

.myButton {
    width: 70%;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-size: 2rem;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    margin-bottom: 20px;
}

.myButton:hover {
    background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    background-color: #f6f6f6;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.endButton {
    width: 200px;
}

.nameRight,
.nameLeft {
    padding: 10px;
    height: 100px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

}

h2 {
    font-size: 3rem;
}

.left:hover,
.right:hover {
    box-shadow: 4px 4px 8px rgb(58, 58, 58);
}

.left:active,
.right:active {
    position: relative;
    top: 4px;
    left: 4px;
}

img {
    width: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

}